/* CSS BY Garrett Chin */

@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap')

/* ROOT VARIABLES */
:root{
    /* Google Imported Fonts */
    --fonts: "Habibi", "Irish Grover", latin;
    /* Colors */
    --green: #06A816;
    --orange: #E75D02;
    --black: #000000;
    --white: #ffffff;
}

/* Text */
Habibi
Add to headings
Heading: "Irish Grover

Sizes
H1: 2.5em
H2: 1.75em
H3, Text: 1.25em

