/* CSS BY Garrett Chin */

@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/* ROOT VARIABLES */
:root{
    /* Google Imported Fonts */
    --fonts: "Habibi", "Irish Grover", latin;
    /* Colors */
    --green: #06A816;
    --orange: #E75D02;
    --black: #000000;
    --white: #ffffff;
}

body{
    min-width: 428px;
    max-width: 1280px;
    text-align: center;
}

/* Text */
p{
    font-family: "Habibi";
}

h1, h2, h3, h4{
    font-family: "Irish Grover";
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 1.75em;
}

h3, text{
    font-size: 1.25em;
}

h4{
    display: grid;
    font-weight: bold;
    font-size: 1.15em;
    text-decoration: none;
    color: var(--black);
    background-color: var(--orange); 
}

a{
    font-family: "Habibi";
    text-decoration: none;
}

h4 a{
    color: var(--black);
}

nav ul{
    list-style: none;
}

nav a{
    display: grid;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    background-color: var(--green);
}

nav li{
    line-height: 2rem;
    margin: 10px 0px 10px -40px;
}

/* ----- IMAGE STYLES ----- */
img{
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
}

/* ----- LINK STYLES ----- */
a{
    display: block;
    padding: 1rem;
}

/* ----- TABLE STYLES ----- */
table{
    width: 245px;
    margin: 0 auto;
}

thead{
    background-color: var(--green);
    border-radius: 0.25rem;
}

thead tr{
    border-bottom: 2px solid var(--black);
}

th{
    font-size: 1.25rem;
    font-weight: bold;
}

tr{
    border-bottom: 2px solid var(--black);
}

td{
    display: table-cell;
}

td, th{
    padding: 0.5rem;
}